*.iml
*.jks
.idea
.gradle
.DS_Store
.externalNativeBuild

/local.properties
/captures

build
build/

app/build
app/release
app/debug
app/credentials.properties
app/pos.titaniocorp.jks
app/google-services.json
google-services.json



